.Auth {
    display: flex;
    justify-content: center;
	flex-direction: column;
}
#root {
}
.class1 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid brown;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.class2 {
    color: orangered;
    font-weight: 700;
    border: none;
    margin-bottom: 10px;
}
.class3 {
    color: brown;
    font-weight: italic;
    background-color: orange;
    border: none;
}
